<div style="background-color:#161B22; border: 1px solid black; border-radius: 20px;">
  <br />
  <h2 style="color:rgb(244, 244, 244, 0.5); margin-left:2%; font-weight:bold;">Register a new user</h2>
  <br />
  {{> messages }}

  <form action="/auth/register" method="POST">
    <div class="form-group" style="width:97%; margin-left:auto; margin-right:auto;">
      <label for="name" style="color:rgb(244, 244, 244, 0.5); font-weight:bold; font-size: 16px;">Firstname:</label>
      <input type="text" style="background-color: #323841; color: rgb(244, 244, 244, 0.5); border: 1px solid #323841;"
        class="form-control" name="firstname" id="firstname" value="{{ firstname }}">
    </div>
    <div class="form-group" style="width:97%; margin-left:auto; margin-right:auto;">
      <label for="name" style="color:rgb(244, 244, 244, 0.5); font-weight:bold; font-size: 16px;">Lastname:</label>
      <input type="text" style="background-color: #323841; color: rgb(244, 244, 244, 0.5); border: 1px solid #323841;"
        class="form-control" name="lastname" id="lastname" value="{{ lastname }}">
    </div>
    <div class="form-group" style="width:97%; margin-left:auto; margin-right:auto;">
      <label for="name" style="color:rgb(244, 244, 244, 0.5); font-weight:bold; font-size: 16px;">GitHub:</label>
      <input type="url" style="background-color: #323841; color: rgb(244, 244, 244, 0.5); border: 1px solid #323841;"
        class="form-control" name="github" id="github" value="{{ github }}">
    </div>
    <div class="form-group" style="width:97%; margin-left:auto; margin-right:auto;">
      <label for="name" style="color:rgb(244, 244, 244, 0.5); font-weight:bold; font-size: 16px;">Email:</label>
      <input type="text" style="background-color: #323841; color: rgb(244, 244, 244, 0.5); border: 1px solid #323841;"
        class="form-control" name="email" id="email" value="{{ email }}">
    </div>
    <div class="form-group" style="width:97%; margin-left:auto; margin-right:auto;">
      <label for="name" style="color:rgb(244, 244, 244, 0.5); font-weight:bold; font-size: 16px;">Employment
        Status:</label>
      <select class="form-control"
        style="background-color: #323841; color: rgb(244, 244, 244, 0.5); border: 1px solid #323841;"
        value="{{emstatus}}" name="emstatus" id="emstatus">
        <option>Employed</option>
        <option>Unemployed</option>
      </select>
    </div>
    <div class="form-group" style="width:97%; margin-left:auto; margin-right:auto;">
      <label for="name" style="color:rgb(244, 244, 244, 0.5); font-weight:bold; font-size: 16px;">Phone Number:</label>
      <input type="text" style="background-color: #323841; color: rgb(244, 244, 244, 0.5); border: 1px solid #323841;"
        class="form-control" name="phonenumber" id="phonenumber" value="{{ phonenumber }}">
    </div>
    <div class="form-group" style="width:97%; margin-left:auto; margin-right:auto;">
      <label for="username" style="color:rgb(244, 244, 244, 0.5); font-weight:bold; font-size: 16px;">Github
        Username:</label>
      <input type="text" style="background-color: #323841; color: rgb(244, 244, 244, 0.5); border: 1px solid #323841;"
        class="form-control" name="username" id="username">
    </div>

    <div class="form-group" style="width:97%; margin-left:auto; margin-right:auto;">
      <label for="codewarsusername" style="color:rgb(244, 244, 244, 0.5); font-weight:bold; font-size: 16px;">CodeWars
        Username:</label>
      <input type="text" style="background-color: #323841; color: rgb(244, 244, 244, 0.5); border: 1px solid #323841;"
        class="form-control" name="codewarsusername" id="codewarsusername">
    </div>


    <div class="form-group" style="width:97%; margin-left:auto; margin-right:auto;">
      <label for="password" style="color:rgb(244, 244, 244, 0.5); font-weight:bold; font-size: 16px;">Password:</label>
      <input type="password"
        style="background-color: #323841; color: rgb(244, 244, 244, 0.5); border: 1px solid #323841;"
        class="form-control" name="password" id="password">
    </div>
    <div style="text-align: center; ">
      <br />
      <button class="btn btn-black" onmouseover="this.style.background='#474d55';"
        onmouseout="this.style.background='#323841'"
        style="color:rgb(244, 244, 244, 0.5); background-color: #323841; border-radius: 20px; padding:15px 55px;">Register</button>
    </div>
  </form>

  <br />
  <a style="color:#4c5057; float:left; margin-left:2%; cursor:pointer;" href="/auth/login">Already have an account?
    Login.</a>
  <br />
  <br />

</div>